layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left "{mode}{tabs}"
                format_right  "#[fg=#89b4fa,bg=#11111b]#[fg=#11111b,bg=#89b4fa] {datetime} #[fg=#89b4fa,bg=#11111b]"
                format_center ""
                format_space ""

                mode_normal "#[fg=#1e1e2e,bg=#6c7086] {name}#[fg=#6c7086,bg=#6c7086]#[fg=#6c7086,bg=#1e1e2e]"
                mode_resize "#[fg=#1e1e2e,bg=#f38ba8] {name}#[fg=#f38ba8,bg=#f38ba8]#[fg=#f38ba8,bg=#1e1e2e]"
                mode_pane "#[fg=#1e1e2e,bg=#a6e3a1] {name}#[fg=#a6e3a1,bg=#a6e3a1]#[fg=#a6e3a1,bg=#1e1e2e]"
                mode_tab "#[fg=#1e1e2e,bg=#cba6f7] {name}#[fg=#cba6f7,bg=#cba6f7]#[fg=#cba6f7,bg=#1e1e2e]"
                mode_scroll "#[fg=#1e1e2e,bg=#94e2d5] {name}#[fg=#94e2d5,bg=#94e2d5]#[fg=#94e2d5,bg=#1e1e2e]"
                mode_rename_tab "#[fg=#1e1e2e,bg=#fab387] {name}#[fg=#fab387,bg=#fab387]#[fg=#fab387,bg=#1e1e2e]"
                mode_rename_pane "#[fg=#1e1e2e,bg=#fab387] {name}#[fg=#fab387,bg=#fab387]#[fg=#fab387,bg=#1e1e2e]"
                mode_session "#[fg=#1e1e2e,bg=#b4befe] {name}#[fg=#b4befe,bg=#b4befe]#[fg=#b4befe,bg=#1e1e2e]"
                mode_move "#[fg=#1e1e2e,bg=#89b4fa] {name}#[fg=#89b4fa,bg=#89b4fa]#[fg=#89b4fa,bg=#1e1e2e]"
                mode_locked "#[fg=#1e1e2e,bg=#585b70] {name}#[fg=#585b70,bg=#585b70]#[fg=#585b70,bg=#1e1e2e]"
                mode_enter_search "#[fg=#1e1e2e,bg=#94e2d5] {name}#[fg=#94e2d5,bg=#94e2d5]#[fg=#94e2d5,bg=#1e1e2e]"
                mode_prompt "#[fg=#1e1e2e,bg=#f9e2af] {name}#[fg=#f9e2af,bg=#f9e2af]#[fg=#f9e2af,bg=#1e1e2e]"
                mode_tmux "#[fg=#1e1e2e,bg=#f38ba8] {name}#[fg=#f38ba8,bg=#f38ba8]#[fg=#f38ba8,bg=#1e1e2e]"

                tab_normal "#[fg=#6c7086] {name} "
                tab_active "#[fg=#1e1e2e,bg=#89b4fa]#[fg=#1e1e2e,bg=#89b4fa,bold] {name} #[fg=#89b4fa]"

                datetime          "{format}"
                datetime_format   "󰅐 %I:%M %p"
                datetime_timezone "Asia/Kolkata"
            }
        }
        children
    }
}
